body{
	background-color: violet ;
}
h1{
	font-size: 30px;
	color: slateblue;
	}
h2{
	color: hotpink;
	}
.big{
	font-size: 100px;
	color: blueviolet;
}
.uppercase{
	text-transform: uppercase;
}
h1 span{
	color: salmon;
}